@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-hidden leading-relaxed;
  }
  .page {
    @apply w-full h-[100dvh] overflow-hidden;
  }
  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8;
  }
  .h2 {
    @apply text-[30px] leading-tight md:text-[54px] md:leading-[1.3] mb-4;
  }
  p {
    @apply leading-[1.8] text-white/60 font-light;
  }
  .btn,
  .input {
    @apply h-[52px];
  }

  .input {
    @apply w-full h-[52px] rounded-lg pl-6 capitalize;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none  border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6 capitalize rounded-lg resize-none;
  }

  .custom-fileUploader{
    width: 1000px !important;
    height: 100px !important;
    margin: auto;

  }
  .bg-fondo {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(
        50% 50% at 11% 93%,
        #00fff2f0 0%,
        #073aff00 100%
      ),
      radial-gradient(100% 100% at 105% 133%, #ff00dbe8 1%, #073aff00 100%),
      linear-gradient(0deg, #3931abff 0%, #3931abeb 100%);
  }

  .product-card {
    perspective: 1000px;
  }

  .card {
    position: relative;
    width: 500px;
    height: 500px;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card-back {
    /* Your back face styling */

    transform: rotate3d(1, 1, -0, -180deg);
  }

  .flipped {
    transform: rotate3d(-1.4, -1.4, 0.2, 180deg);
  }

  .bg-fondo2 {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(
        70% 70% at 15% 80%,
        #00fff2eb 1%,
        #073aff00 80%
      ),
      radial-gradient(100% 100% at 80% 80%, #ff00dbcc 1%, #073aff00 100%),
      linear-gradient(0deg, #3931abf0 0%, #3931abeb 100%);
  }

  .bg-fondo3 {
    background: -moz-linear-gradient(
      86.2% 143.47% 122.83deg,
      rgba(0, 102, 99, 1) 24.6%,
      rgba(22, 108, 106, 1) 34.72%,
      rgba(87, 126, 125, 1) 65.71%,
      rgba(127, 138, 137, 1) 88.31%,
      rgba(142, 142, 142, 1) 100%
    );
    background: -webkit-linear-gradient(
      122.83deg,
      rgba(0, 102, 99, 1) 24.6%,
      rgba(22, 108, 106, 1) 34.72%,
      rgba(87, 126, 125, 1) 65.71%,
      rgba(127, 138, 137, 1) 88.31%,
      rgba(142, 142, 142, 1) 100%
    );
    background: -webkit-gradient
      (
        linear,
        86.2% 143.47%,
        11.29% -49.97%,
        color-stop(0.246, rgba(0, 102, 99, 1)),
        color-stop(0.3472, rgba(22, 108, 106, 1)),
        color-stop(0.6571, rgba(87, 126, 125, 1)),
        color-stop(0.8831, rgba(127, 138, 137, 1)),
        color-stop(1, rgba(142, 142, 142, 1))
      );
    background: -o-linear-gradient(
      122.83deg,
      rgba(0, 102, 99, 1) 24.6%,
      rgba(22, 108, 106, 1) 34.72%,
      rgba(87, 126, 125, 1) 65.71%,
      rgba(127, 138, 137, 1) 88.31%,
      rgba(142, 142, 142, 1) 100%
    );
    background: -ms-linear-gradient(
      122.83deg,
      rgba(0, 102, 99, 1) 24.6%,
      rgba(22, 108, 106, 1) 34.72%,
      rgba(87, 126, 125, 1) 65.71%,
      rgba(127, 138, 137, 1) 88.31%,
      rgba(142, 142, 142, 1) 100%
    );
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#006663', endColorstr='#8E8E8E' ,GradientType=0)";
    background: linear-gradient(
      -32.83deg,
      rgba(0, 102, 99, 1) 24.6%,
      rgba(22, 108, 106, 1) 34.72%,
      rgba(87, 126, 125, 1) 65.71%,
      rgba(127, 138, 137, 1) 88.31%,
      rgba(142, 142, 142, 1) 100%
    );
    opacity: 0.8;
    width: 1999px;
    height: 1200px;
    filter: alpha(opacity=80) progid:
      DXImageTransform.Microsoft.Alpha(opacity=80) progid:
      DXImageTransform.Microsoft.gradient(
        startColorstr= "#006663",
        endColorstr= "#8E8E8E",
        GradientType=1
      );
  }

  * {
    scroll-behavior: smooth;
  }

  .calistoga-regular {
    font-family: "Calistoga";
    font-size: 22px;
    font-style: normal;
  }

  .montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 22px;
  }

  .texto-borde {
    -webkit-text-stroke: 2px white;
    color: transparent;
  }

  .custom-shape-divider-top-1709247386 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1709247386 svg {
    position: relative;
    display: block;
    width: calc(240% + 3px);
    height: 100px;
    line-height: 0;
  }

  .custom-shape-divider-top-1709247386 .shape-fill {
    fill: #ffffff;
    filter: drop-shadow(0 0 20px #1b5e20);
  }
  /* * {
    scrollbar-width: 10px;
    scrollbar-color: white;
  } */

  /* color de la barra de desplazamiento y ancho */
  *::-webkit-scrollbar {
    width: 10px;
    visibility: hidden;
    /* scrollbar-color: white; */
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color: rgb(102, 100, 100);
    visibility: hidden;
  }

  /* Tamaño para scroll personalizado */
  .biblia::-webkit-scrollbar {
    width: 5px;
  }

  /* Color y radio para scroll personalizado */
  .biblia::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color: rgb(102, 100, 100);
  }

  .bg {
    background-size: 100% 200px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  /* color de fondo del scroll */
  /* *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1px;
  } */

  *::-webkit-scrollbar-thumb {
    visibility: hidden;
    /* z-index: ; */
    /* border: 2px none transparent; */
  }



  #name::placeholder {
    color: #585858;
  }

  #phone::placeholder {
    color: #585858;
  }

  #mensaje::placeholder {
    color: #585858;
  }

  #monto::placeholder {
    color: #585858;
  }

  #mapa .capa-anti-eventos {
    width: 600px;
    height: 450px;
    position: absolute;
    cursor: pointer;
  }

  /* Botones del Swiper */
  .swipperClass {
    --swiper-pagination-color: #FFFF;
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-width: 12px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-bullet-inactive-color: #FFFF;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }

  .botonRetroceder {
    height: 50px;
    width: 50px;
    border: 5px solid #d3d3d3;
    border-radius: 50%;
    cursor: pointer;
    background: linear-gradient(180deg, #929292, #ffffff);
    font-size: 18px;
    color: #5f5d5d;
    transition: color 0.5s;
    box-shadow: -8px -8px 20px 0px #fff9, -6x -6px 8px 8px 20px #0001,
      5px 5px 6px 0px #0001;
  }

  .blur {
    filter: blur(calc(var(--size) / 5));
  }

  .bganimation {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #00e5b9, #005b82);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
  }

  .gradient {
    --size: 500px;
    --speed: 50s;
    --easing: cubic-bezier(0.13, 0.91, 1, 0.69);
    z-index: -10;
    width: var(--size);
    height: var(--size);
    position: absolute;
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(180deg, #00e5b9, #005b82);
    animation: rotateGradient var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }

  .rotar {
    transform: rotateY(3.142rad);
  }
  /* Sombra para imagenes SVG */
  .cardSombra {
    /* -webkit-filter: drop-shadow( -5px -5px 5px #000 );
    filter: drop-shadow( -3px -3px 3px #000 ) */
  }

  .fonts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 5px solid #d3d3d3;
    border-radius: 50%;
    background: linear-gradient(180deg, #929292, #ffffff);
    font-size: 18px;
    color: #5f5d5d;
    transition: color 0.5s;
    /* border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
  }

  .fontCelular {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 5px solid #d3d3d3;
    border-radius: 50%;
    background: linear-gradient(180deg, #929292, #ffffff);
    font-size: 12px;
    color: #5f5d5d;
    transition: color 0.5s;
    /* border-radius: 50px;
      background: #e0e0e0;
      box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
  }
  .card {
    position: relative;
    width: 320px;
    height: 400px;
    background: #ff0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card .imgBx {
    position: relative;
    width: 100%;
    height: 240px;
    background: #f00;
    border-radius: 15px;
    background: url("./public/portada.png");
    background-size: cover;
  }

  .card .content {
    position: relative;
    width: 100%;
    height: 150px;
    background: #232949;
    border-radius: 15px;
    border-top-left-radius: 0;
  }

  .card .content .price {
    position: absolute;
    height: 80px;
    top: -80px;
    width: 50%;
    height: 80px;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top-right-radius: 25px;
    background: #f00;
  }
  .flip-card {
    perspective: 1000px;
  }

  .flip-card-inner {
    transition: transform 2s;
    transform-style: preserve-3d;
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }

  /* .fondoAnimado {
    animation: fondo-animado 5s infinite;
    background-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .contenedor {
    height: 100vh;
    width: 100%;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 10px;
  }

  .contenedor div {
    position: absolute;
    border-radius: 100%;
    animation: gradient 8s infinite;
  }

  .contenedor div:nth-child(1) {
    height: 100%;
    width: 100%;
    background-color: #05f7ff;
    left: -29%;

    /* top: -10%; */
  }

  .contenedor div:nth-child(2) {
    height: 60%;
    width: 50%;
    background-color: #ff7171;
    left: 50%;
    right: 20%;
    top: -40%;
    /* animation-delay: 4s; */
  }

  .contenedor div:nth-child(3) {
    height: 60%;
    width: 50%;
    background-color: #8b71ff;
    bottom: -15%;
    right: -20%;
    animation-delay: 0.2;
  }

  .contenedor::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    backdrop-filter: blur(120px);
  }

  .animacionCard {
    animation: cardSemillaKey 0.8s ease;
  }

  .intro {
    animation: fade-up 1s;
    /* scale: 0;
    opacity: 0%; */
    animation-timeline: view();
    /* animation-range-start: entry -70px;
    animation-range-end:  exit -80px; */
  }

  @keyframes fade-up {
    /* 20%{
      scale:0.5;
      opacity: 50%;
    }
*/
    from {
      margin-left: 80%;
    }

    to {
      margin-left: 0%;
    }
  }

  @keyframes gradient {
    70% {
      transform: scale(0.5) translate(50px);
    }
  }

  @keyframes fondo-animado {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }

  @keyframes rotateGradient {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }

  @keyframes color {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes cardSemillaKey {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}
